/*1320708195,176820666*/

.sp_9dewam{background-image:url(../images/X6Vt9PtofgU.png);background-repeat:no-repeat;display:inline-block;height:16px;width:31px}
.sx_83050b{width:32px;height:32px;background-position:-0px -0px}
.sx_ce0533{background-position:-0px -33px}
.sx_48249a{background-position:-0px -50px}

#bootloader_OvN0F { height: 42px; }
.uiPagerTopBorder {
border-top:1px solid #EEEEEE;
padding:15px 0 0;
}
.profilePictureNuxHighlightLink {
display:block;
}
.profilePictureNuxHighlight {
background-color:#ECEFF5;
border:1px solid #C5CDE1;
}
.fbPageEdit .profilePictureNuxHighlight {
border-right-width:0;
}
.uiDatepicker{position:relative}
.uiDatepicker .dateBox{border:1px solid #bdc7d8;float:left;padding-right:4px}
.uiDatepicker .dateBox .textField{background:#fff url(../images/saFg5U_7LMd.png) right 50% no-repeat;border:0;color:#3b5998;width:95px}
.uiDatepickerGray .dateBox .textField{background-image:url(../images/fw7mhaWuh3r.png)}
.uiDatepicker .calendarWrapper{display:none;left:0;position:absolute;top:25px;z-index:4}
.openToggler .calendarWrapper{display:block;min-width:210px}
.uiDatepicker table{width:100%}
.uiDatepicker .prevMonth,.uiDatepicker .nextMonth,.uiDatepicker .monthTitle{background:#6d84b7;border-top:1px solid #3a589b;color:#fff;font-weight:bold;padding-top:1px;text-align:center}
.uiDatepicker .prevMonth{border-left:1px solid #3a589b}
.uiDatepicker .nextMonth{border-right:1px solid #3a589b}
.uiDatepicker th.first{border-left:1px solid #777}
.uiDatepicker th.last{border-right:1px solid #777}
.uiDatepicker .days{border:1px solid #777;border-top:none;border-bottom:2px solid #293e6c}
.uiDatepicker .days table{background:#fff;border-collapse:separate}
.uiDatepicker .prevMonth,.uiDatepicker .nextMonth,.uiDatepicker .dateBox .textField,.uiDatepicker .dayCell{cursor:pointer}
.uiDatepicker .prevMonth{border-left-width:1px}
.uiDatepicker .nextMonth{border-right-width:1px}
.uiDatepicker th{color:#555;background:#f2f2f2;border-bottom:1px solid #bbb;font-size: 10px;font-weight:bold;padding:3px 1px;text-align:center;word-break:break-word}
.uiDatepicker td{height:20px;padding:0;text-align:center}
.uiDatepicker .dayTable td{border:1px solid #fff;color:#999;width:14.29%}
.uiDatepicker .dayTable td.dayCell{color:#666}
.uiDatepicker .dayCell:hover{color:#3b5998;border-color:#bec8dd;background-color:#dfe4ee;text-decoration:none}
.uiDatepicker .selected{background-color:#ddd;font-weight:bold}

.detailedsearch_feature_header {
background-color:#E9E9E9;
border:0 none;
height:7px;
margin-bottom:10px;
padding:0;
text-align:center;
}
.detailedsearch_feature_header span {
background-color:#FFFFFF;
color:gray;
font-weight:bold;
padding:0 5px;
position:relative;
top:-4px;
}
.searchArea {
	padding-top:2px;
	background-color:#F2F2F2;
}
.head td{
	text-align: center;
	height: 50px;
}

.head .left{
	width: 280px;
}
.head .image{
	width: 450px;
}
.updateButton {
	padding-left:50px;
}
.searchBody {
	height:250px;
}
.searchArea label{
	color: #333333;
	font-weight: normal;
}
.uiScaledImageContainer img {
height:100%;
min-height:100%;
position:relative;
}
.uiScaledImageContainer {
overflow:hidden;
position:relative;
}
.DOMControl_placeholder {
color:#777777;
}
.requesttext {
width:200px;
}

.sp_9bp6bo {
background-image:url(../images/1VzOGqFg-DH.png);
background-repeat:no-repeat;
display:inline-block;
height:16px;
width:16px;
}
.sx_35b899 {
background-position:-11px -221px;
height:14px;
width:11px;
}
.event_upload_image {
width:179px;
}
.event_upload_image {
width:179px;
}

.grayArea {
border-top:1px solid #B3B3B3;
min-height:253px;
}
.eventInviteLayout .fullWidth {
width:85%;
}
.profileBrowserDialog .fbProfileBrowserResult {
height:353px;
overflow-y:auto;
position:relative;
}
.profileBrowserDialog .filterBox {
border-bottom:1px solid #CCCCCC;
border-top:medium none;
}
.profileBrowserDialog .fbProfileBrowserListContainer li:first-child {
border-top:medium none;
}
.profileBrowserDialog .listView {
height:353px;
}
.threeColumns .multiColumnCheckable {
width:173px;
}
.multiColumnCheckable {
float:left;
margin:5px 0 0 5px;
overflow:hidden;
width:262px;
}
.selectedCheckable, .selectedCheckable .anchor:hover {
background:#E3E7F1 none repeat scroll 0 0;
}
.multiColumnCheckable.selectedCheckable .anchor {
background-color:#D8DFEA;
border-color:#C3CCE1;
}
.threeColumns .multiColumnCheckable .anchor {
padding:2px;
}
.multiColumnCheckable .anchor {
border-color:#FFFFFF;
border-style:solid;
border-width:1px 0;
display:block;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding:6px;
}
a {
color:#3B5998;
cursor:pointer;
outline-style:none;
text-decoration:none;
}
.multiColumnCheckable .anchor {
border-style:solid;
}
.threeColumns .multiColumnCheckable .photo {
height:30px;
margin-right:5px;
width:30px;
}
.UIImageBlock_Image {
float:left;
margin-right:5px;
}
img {
border:0 none;
}
.threeColumns .multiColumnCheckable .checkbox {
margin:12px 6px 0;
}
.multiColumnCheckable .checkbox {
float:left;
margin:23px 8px 0 6px;
}
.multiColumnCheckable.selectedCheckable .anchor {
background-color:#D8DFEA;
border-color:#C3CCE1;
}
.threeColumns .multiColumnCheckable .content {
height:29px;
}
.MessagingComposerBody {
border-color:#6D84B4;
height:30px;
max-height:280px;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
overflow-y:auto !important;
width:335px;
}

.MessagingComposerTypeaheadWrapper .uiInlineTokenizer {
border-color:#6D84B4;
}
.uiCloseButtonSmall {
background-image:url(../images/ogYrclupeJV.png);
height:11px;
margin-top:1px;
width:11px;
}

.uiToken{background:#e2e6f0;border:1px solid #9daccc;-moz-border-radius:2px;color:#1c2a47;cursor:default;display:block;float:left;height:14px;margin:0 4px 4px 0;padding:0 3px;position:relative;white-space:nowrap}
.uiToken .remove{margin:2px 0 -2px 1px;outline:none}
.uiTokenSelected{background-color:#6d84b4;border-color:#3b5998;color:#fff}
.uiTokenizer {background:#FFFFFF none repeat scroll 0 0;}
.uiNormalTokenizer .uiTypeahead{width:100%}
.uiNormalTokenizer .tokenarea{overflow:hidden;padding-top:6px}
.uiInlineTokenizer .uiToken {top:2px;}
.uiInlineTokenizer {border:1px solid #BDC7D8;cursor:text;padding-left:2px;}
.uiInlineTokenizer{cursor:text;padding-left:2px;border:1px solid #bdc7d8}
.uiInlineTokenizer .DOMControl_placeholder{margin-left:-2px}
.uiInlineTokenizer .uiToken{top:2px}
.uiInlineTokenizer .uiTypeahead{border:0;float:left}
.uiInlineTokenizer .uiTypeahead .wrap{border:0}
.uiInlineTokenizer .uiTypeaheadView{width:200px}
.uiInlineTokenizer .textInput[disabled]{background:#fff}

#MessagingDashboard .footerActionBar {
width:100%;
}
.threadRow .snippet{max-width:430px;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap}
.threadRow .snippet .indicator,#fbMessagesItemList .snippet .indicator{vertical-align:middle}
.threadRow .authorsWrapper{max-width:500px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.threadRow .authors{font-size: 14px}
.threadRow .threadLink:hover{text-decoration:none}
.threadRow .threadLink:hover .authors{text-decoration:underline}
.threadRow .content{line-height:16px;padding-top:8px}
.threadRow .timestamp,.threadRow .mutualFriends{color:#aaa}
.threadRow .emote_img{margin-bottom:-4px}
.threadRow .unarchiveLink .uiCloseButton{background:url(../images/ij5EGgoOSQ3.png) right top}
.threadRow .unarchiveLink .uiCloseButton:hover{background-position:left top}
.threadRow .right{padding-top:18px}
.threadRow .draft{padding-right:12px;vertical-align:top;color:#a2b2cf;font-weight:normal}
.threadRow.unread{background-color:#ebeef4}
.threadRow .unarchiveLink,.threadRow .markAsReadLink,.threadRow.archived .archiveLink,.threadRow.unread .markAsUnreadLink{display:none}
.threadRow .archiveLink,.threadRow .markAsUnreadLink,.threadRow.archived .unarchiveLink,.threadRow.unread .markAsReadLink{display:block}
.threadRow.unread,.threadRow.unread + .threadRow{border-color:#dce2ec;margin:0 -20px;padding:0 20px}
.threadRow.unread .snippet,.threadRow.unread .timestamp{color:#6d84b4}
.threadRow.unread .mutualFriends{color:#9c9c9c}
.threadRow .readState{vertical-align:middle}
.threadRow .markunread,.threadRow .markread{display:inline-block;height:11px;width:11px}
.threadRow .markunread{background-image:url(../images/tQ9ZmNntlJm.png);background-repeat:no-repeat;background-position:-11px -38px}
.threadRow .markunread:hover{background-image:url(../images/tQ9ZmNntlJm.png);background-repeat:no-repeat;background-position:0 -38px}
.threadRow .markread{background-image:url(../images/tQ9ZmNntlJm.png);background-repeat:no-repeat;background-position:-34px -38px}
.threadRow .markread:hover{background-image:url(../images/tQ9ZmNntlJm.png);background-repeat:no-repeat;background-position:0 -38px}
.threadRow.noDraft .draft {display:none;}

.webComposerPhotoUpload{text-align:center}
.uiMetaComposer .webComposerPhotoUpload{border-top:1px dashed #ccc;margin-top:4px;padding:5px 5px 10px 5px;text-align:left}
.uiMetaComposer .webComposerPhotoUpload .photoUploadPrompt{margin-top:7px}
.uiMetaComposer .webComposerPhotoUpload input{margin-left:0}
.uiMetaComposer .webComposerPhotoPreviewArea{display:inline-block;position:relative}
.uiMetaComposer .webComposerPhotoPreviewArea .imgPreview{border:1px solid #ccc;display:block;float:left;margin-right:5px;padding:3px}
.uiMetaComposer .webComposerPhotoPreviewArea .uiCloseButton{position:absolute;right:-14px}
.uiMetaComposer .webComposerPhotoPreviewArea.removeButtonOnTop .uiCloseButton{right:11px;top:6px}

#bootloader__kMvU { height: 42px; }
.openToggler .calendarWrapper{display:block;min-width:210px}

.sp_ewmg90 {
background-image:url(../images/-yHMk9PyW87.png);
background-repeat:no-repeat;
display:inline-block;
height:16px;
width:16px;
}
.sx_0e145b {background-position:-17px -62px;height:12px;width:6px;}
.sx_91cd4d {background-position:-24px -62px;height:12px;width:6px;}

.arrowLeft a,.arrowRight a{background-image:url(../images/77uboGPzRks.png);background-position:10px 9px;background-repeat:no-repeat;cursor:pointer;height:30px;opacity:1;padding:0;width:31px}
.arrowLeft a,.arrowRight a{opacity:.65;border-color:#a2a2a2;border-color:rgba(162, 162, 162, .55)}
.arrowLeft a:hover,.arrowRight a:hover{border-color:#7489b6;border-color:rgba(59, 89, 152, .55)}
.arrowRight a{background-image:url(../images/KsODvVMV-0n.png)}
.arrowLeft a:hover{background-image:url(../images/B_qduFj1etl.png)}
.arrowRight a:hover{background-image:url(../images/lWUUm37r11D.png)}
.arrowLeft a:active{background-image:url(../images/U1-etAWzQ4t.png)}
.arrowRight a:active{background-image:url(../images/wU__r0m45JU.png)}
.yesNoBtns {
left:450px;
position:absolute;
top:70px;
}
.prev {
left:320px;
position:absolute;
top:240px;
}
.next {
left:650px;
position:absolute;
top:240px;
}
.slidewrap {
  display:table;
  background-color:#F2F2F2;
  width:250px;
  height:250px;
  _position:relative;
  overflow:hidden;
  text-align:center;
  margin:0 auto;
}
.slidesubwrap {
  vertical-align:middle;
  display:table-cell;
  _position:absolute;
  _top:50%;
}
.slidecontent {
  _position:relative;
  _top:-50%;
}
.slidecontent img {
  width:250px;
  height:250px;
}
.collapsed_comments .uiUfi{display:none}
.activity{width:129px; overflow:hidden}
.disabledCheckable .anchor,.disabledCheckable .anchor:hover{background:#fff;cursor:default;opacity:.3;outline:none}
.mrs {
margin-right:5px;
}
.sp_9brcjp {
background-image:url(../images/AYwC2vHPaWW.png);
background-repeat:no-repeat;
display:inline-block;
height:14px;
width:500px;
}
.sx_60c040 {
background-position:-180px -420px;
height:13px;
width:8px;
}
.sx_450ec4 {
background-position:-140px -423px;
height:13px;
width:9px;
}
.webComposerQuestion{padding:4px}
.webComposerQuestion .questionSpacingRow{height:8px}
.webComposerQuestion .questionSectionBorder{border-top:1px solid #ccc;margin-bottom:-8px}
.webComposerQuestion .questionSectionLabel{position:relative;left:20px;top:-8px;background-color:#fff}
.webComposerQuestion .optionLabel{vertical-align:baseline;padding-right:10px}
.webComposerQuestionTypeaheadView{width:375px}
.webComposerQuestion .optionTypeahead{margin-top:8px;margin-left:26px;width:90%}
.uiMetaComposer .webComposerQuestion{min-height:48px;padding:0}
.uiMetaComposer .questionInput{border:0;font-size: 14px;margin:0;min-height:36px;outline:none;padding:0;resize:none;width:100%}
.uiMetaComposer .webComposerQuestion .uiTypeahead{border-color:#e6e6e6;border-width:1px 0 0}
.uiMetaComposer .webComposerQuestion .uiTypeahead .wrap{border:0}
.uiMetaComposer .addPollOptionsLink{color:#777}

#bootloader_j2_FM { height: 42px; }
.uiTypeahead {
background:#FFFFFF none repeat scroll 0 0;
border-color:#BDC7D8;
border-style:solid;
border-width:1px 0;
cursor:default;
position:relative;
}
.rightLabel {font-weight:bold;color:#999999;width:100px;}
.rightValue {padding-left:50px;}
.uiTypeaheadView ul{background:#fff;border:solid;border-width:1px 1px 2px;border-color:#333 #333 #293e6a;overflow:hidden;padding:2px 0}
.uiTypeaheadView .freeform{border-top-color:#ddd;padding:2px 6px 1px;text-align:center}
.uiTypeaheadView li{border:solid #fff;border-width:1px 0;color:#333;cursor:pointer;display:block;min-height:1px;padding:0 6px;position:relative}
.uiTypeaheadView strong{background-color:#d8dfea;color:#3b5998}
div.uiTypeaheadView .selected{background-color:#6d84b4;border-color:#3b5998}
.uiTypeaheadView .selected,.uiTypeaheadView .selected a,.uiTypeaheadView .selected div,.uiTypeaheadView .selected span{color:#fff !important}
.uiTypeaheadView .selected strong{background-color:#5670a6}
.uiImageBlockLargeImage{margin-right:10px}
.uiImageBlockImage,.uiImageBlockImage .img{display:block}
.uiImageBlockContent{overflow:hidden}
.mlm{margin-left:10px}
.uiInlineBlock{display:inline-block}
.uiInlineBlockBottom{vertical-align:bottom}
.uiInlineBlockMiddle{vertical-align:middle}
.uiInlineBlockTop{vertical-align:top}
.uiListLight,.uiListMedium,.uiListDark{border-style:solid}
.uiListHorizontalItemBorder{border-width:0 0 0 1px}
.uiListVerticalItemBorder{border-width:1px 0 0 0}
.uiListItem:first-child{border-width:0}
.uiListLight{border-color:#e9e9e9}
.mvl{margin-top:20px;margin-bottom:20px}
.ufiItem .stat_elem .uiUfiViewSharesLoading{display:none}
.fsm{font-size: 12px}
.fsl{font-size: 14px}
.fsxl{font-size: 17px}
.fsxxl{font-size: 19px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:gray}
.mrl{margin-right:20px}
.uiProfileBlockContent{overflow:hidden}
.theaterMode .defaultScrollbar,
.theaterMode .defaultScrollbar .fbChatSidebar{margin-right:15px}
.theaterMode .scrollbar20,
.theaterMode .scrollbar20 .fbChatSidebar{margin-right:20px}
.theaterMode #blueBar.fixed_elem #pageHead{position:relative}
.theaterMode .defaultScrollbar #blueBar.fixed_elem #pageHead{left:-7px}
.theaterMode .scrollbar20 #blueBar.fixed_elem #pageHead{left:-10px}
.sidebarMode.theaterMode .defaultScrollbar #blueBar.fixed_elem #pageHead{left:-97px}
.sidebarMode.theaterMode .scrollbar20 #blueBar.fixed_elem #pageHead{left:-100px}
.theaterMode .defaultScrollbar .fbDockWrapperRight{right:15px}
.theaterMode .scrollbar20 .fbDockWrapperRight{right:20px}
.theaterMode .fbTimelineSideAds,
.theaterMode .fbTimelineScrubber{margin-right:-483px}
.sidebarMode.theaterMode .fbTimelineSideAds,
.sidebarMode.theaterMode .fbTimelineScrubber{margin-right:-393px}
.sidebarMode.theaterMode .defaultScrollbar .fbDockWrapperRight{right:190px}
.sidebarMode.theaterMode .scrollbar20 .fbDockWrapperRight{right:195px}
.sidebarMode.ticker.theaterMode .defaultScrollbar .fbDockWrapperRight{right:220px}
.sidebarMode.ticker.theaterMode .scrollbar20 .fbDockWrapperRight{right:225px}
.fbPhotoSnowlift{background-color:rgba(0, 0, 0, .7);bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;z-index:400;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000); BOTTOM: 0px}
.theaterMode .fbPhotoSnowlift,.wrapped .fbPhotoSnowlift{overflow-x:auto;overflow-y:scroll}
.theaterMode body{overflow:hidden}
.fbPhotoSnowliftOuter{display:table;height:100%;table-layout:fixed;width:100%}
.fbPhotoSnowliftInner{display:table-cell;text-align:center;vertical-align:middle;width:100%}
.fbPhotoSnowliftContainer{display:inline-block;outline:none;text-align:left}
.fbPhotoSnowliftBorder{border:1px solid rgba(0, 0, 0, .2);margin:20px 0}
.fbPhotoSnowliftPopup{-moz-box-shadow:0 20px 62px rgba(0, 0, 0, .45)}
.ff3 .fbPhotoSnowliftPopup{-moz-box-shadow:0 10px 30px rgba(0, 0, 0, .45)}
.fbPhotoSnowlift .stageWrapper{background-color:#111;height:100%;max-height:960px;min-height:520px;position:relative;text-align:center;-moz-user-select:none}
.fbPhotoSnowlift .stageActions,.fbPhotoSnowlift .snowliftPager,.fbPhotoSnowlift .stageError{line-height:1.28}
.fbPhotoSnowlift .rhc{background-color:#fff;height:100%;overflow:hidden;position:relative;word-wrap:break-word}
.fbPhotoSnowlift .stageActions,.fbPhotoSnowlift .stage .stageWrapper img{-moz-user-select:none;-moz-user-select:-moz-none}
.fbPhotoSnowlift .stage{position:relative}
.fbPhotoSnowliftDivider{background-color:rgba(0, 0, 0, .1 );height:100%;position:absolute;right:0;top:0;width:1px}
.fbPhotoSnowlift .stageActions{bottom:0;cursor:pointer;height:0;left:0;position:absolute;top:auto;width:100%}
.dataLoading .stageActions{display:none}
.taggingMode .stageActions{background:url(../images/-PAXP-deijE.gif) no-repeat;cursor:crosshair;height:100%}
.fbPhotoSnowlift .snowliftOverlayBar{background-color:rgba(0, 0, 0, .6);-moz-background-clip:padding;bottom:0;border-top:1px solid rgba(255, 255, 255, .1);color:#bbb;font-size: 14px;left:0;opacity:0;padding:0;position:absolute;width:100%}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons .tagMessage{background-color:transparent;display:inline-block}
.fbPhotoSnowlift .fbPhotosPhotoButtons .tagMessage{color:#bbb;padding:5px 10px 6px}
.fbPhotoSnowlift .fbPhotosPhotoButtons .tagMessage .doneTaggingLink{margin-left:5px}
.fbPhotoSnowlift .snowliftOverlayBar a{color:#fff;font-weight:bold}
.fbPhotoSnowlift.pagingActivated .snowliftOverlayBar,.fbPhotoSnowlift.taggingMode .snowliftOverlayBar{opacity:1}
.fbPhotoSnowlift .fbPhotosPhotoButtons{bottom:auto;left:auto;padding:8px 0;position:relative;right:auto;top:auto}
.fbPhotoSnowlift .fbPhotosPhotoButtons{margin:0 10px}
.fbPhotoSnowlift .mediaTitleInfo{margin:5px 10px 0;text-align:right}
.fbPhotoSnowlift.fbPhotoSnowliftSwap .mediaTitleInfo{text-align:left}
.fbPhotoSnowlift.taggingMode .mediaTitleInfo{display:none}
#fbPhotoSnowliftMediaTitle{min-width:50px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbPhotoSnowlift.fbPhotoSnowliftSwap #fbPhotoSnowliftMediaTitle{display:inline-block;min-width:0;max-width:200px}
#fbPhotoSnowliftMediaTitle .fbPhotoMediaTitle,#fbPhotoSnowliftPositionAndCount{display:inline-block;padding-top:8px;vertical-align:top}
#fbPhotoSnowliftMediaTitle .fbPhotoMediaTitle.hasAlbumLink{padding-top:0}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons{width:100%}
.fbxPhoto.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoActionsTag{margin:0;margin-right:6px}
.fbxPhoto.fbPhotoSnowlift.fbPhotoSnowliftSwap .fbPhotosPhotoButtons .fbPhotosPhotoActionsTag{margin-left:6px;margin-right:0}
.fbPhotoSnowlift .fbPhotosPhotoButtons .buttonLink{-moz-background-clip:padding;background-color:rgba(0, 0, 0, .4);border:1px solid rgba(255, 255, 255, .6);-moz-border-radius:4px;display:inline-block;margin-right:6px;padding:4px 10px 5px;vertical-align:bottom}
.fbPhotoSnowlift.fbPhotoSnowliftSwap .fbPhotosPhotoButtons .buttonLink{margin-left:6px;margin-right:0}
.fbPhotoSnowlift .fbPhotosPhotoButtons .buttonLink:hover{background-color:rgba(0, 0, 0, .6);border:1px solid #fff;text-decoration:none}
.fbPhotoSnowlift .fbPhotosPhotoButtons .buttonLink span{float:left}
.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoLike.viewerLikesThis .uiIconText{padding-left:0 !important}
.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoLike.viewerLikesThis img,.fbxPhoto.fbPhotoSnowlift .fbPhotosPhotoButtons .fbPhotosPhotoLike.viewerAlreadyLikedThis{display:none}
.fbPhotoSnowlift .stage{cursor:pointer;display:block;font-size:0;height:100%;max-height:960px;min-height:402px;position:relative;text-align:center;width:100%}
.fbPhotoSnowlift .stage .fbPhotosPhotoTagboxes{font-size: 12px}
.fbPhotoSnowlift .videoStage,.imagePixelsLoading .stage{background:#111 url(../images/pgEFhPxsWZX.gif) no-repeat center center}
.fbPhotoSnowlift .showVideo .videoStage{display:block}
.fbPhotoSnowlift .videoStage,.fbPhotoSnowlift .showVideo .stage,.fbPhotoSnowlift .showVideo .snowliftOverlayBar{display:none}
.fbPhotoSnowlift .videoStage{height:100%;width:100%;position:absolute;z-index:1}
.fbPhotoSnowlift .videoStage embed,.fbPhotoSnowlift .videoStage object{display:inline-block;max-height:100%;max-width:100%;text-align:center;vertical-align:middle}
.fbPhotoSnowlift .stage img{display:inline-block;height:auto;image-rendering:optimizeQuality;max-height:100%;max-width:100%;vertical-align:middle;width:auto}
.fbPhotoSnowlift .stageError{left:50%;margin-left:-278px;margin-top:-82px;position:absolute;text-align:left;top:50%}
.fbPhotoSnowlift .uiButtonOverlay:active{-moz-box-shadow:0 0 1px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(0, 0, 0, .08)}
.fbPhotoSnowlift .snowliftPager{display:none;height:45px;margin-top:-22px;opacity:0;position:absolute;top:50%;width:27px;z-index:1}
.fbPhotoSnowlift.pagingReady .snowliftPager{display:block}
.fbPhotoSnowlift.pagingActivated .snowliftPager{opacity:.4}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager{background:rgba(0, 0, 0, .6) no-repeat;height:200px;margin-top:-100px;opacity:.5;width:60px;z-index:auto}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager:hover,.fbPhotoSnowlift.pagingActivated .snowliftPager.hilightPager{opacity:1}
.fbPhotoSnowlift .snowliftPager.prev{left:20px}
.fbPhotoSnowlift .snowliftPager.next{right:20px}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager.prev{border-bottom-right-radius:4px;border-top-right-radius:4px;left:0}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager.next{border-bottom-left-radius:4px;border-top-left-radius:4px;right:0}
.fbPhotoSnowlift .snowliftPager i{display:block;height:45px;width:27px}
.fbPhotoSnowlift .snowliftPager.prev i{background-image:url(../images/n6NrKnkBtbE.png);background-repeat:no-repeat;background-position:0 0}
.fbPhotoSnowlift .snowliftPager.next i{background-image:url(../images/n6NrKnkBtbE.png);background-repeat:no-repeat;background-position:0 -46px}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager i{margin-top:-22px;position:absolute;top:50%}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager.prev i{left:10px}
.fbPhotoSnowlift .snowliftFixedPagers .snowliftPager.next i{right:10px}
.fbPhotoSnowlift .fbPhotosPhotoOwnerButtons .uiButton.taggingOn,.fbPhotoSnowlift.taggingMode .fbPhotosPhotoButtons .bottomButtonsBar,.fbPhotoSnowlift.taggingMode .fbPhotosPhotoOwnerButtons .uiButton.taggingOff{display:none}
.fbPhotoSnowlift.taggingMode .fbPhotosPhotoOwnerButtons .uiButton.taggingOn{display:inline-block}
.fbPhotoSnowlift .fbPhotosPhotoOwnerButtons{line-height:20px}
.fbPhotoSnowlift .stagePagers .fbPhotoSnowliftIcon.customimg{margin-top:4px}
.fbPhotoSnowliftVideoTitle{display:block;font-weight:bold;margin-top:15px}
.fbPhotoSnowlift a.uiButtonOverlay,.fbPhotoSnowlift a.uiButtonOverlay:hover{background-image:url(../images/mEI5GYmoEpv.png);background-repeat:no-repeat;background-position:0 -58px}
.fbPhotoSnowlift a.uiButtonOverlay:active,.fbPhotoSnowlift a.uiButtonOverlay:focus{background-image:url(../images/mEI5GYmoEpv.png);background-repeat:no-repeat;background-position:0 -9px;-moz-box-shadow:0 0 1px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(0, 0, 0, .08)}
.fbPhotoSnowlift a.uiButtonOverlay.uiButtonDisabled{background-image:url(../images/mEI5GYmoEpv.png);background-repeat:no-repeat;background-position:0 -58px}
.photoActionSelector a.photoActionSelectorButton{background-image:url(../images/mEI5GYmoEpv.png) !important;background-repeat:no-repeat !important;background-position:right -156px !important;margin-bottom:0;margin-right:1px;padding:2px 23px 3px 9px !important}
.photoActionSelector .openToggler a.photoActionSelectorButton{background-image:url(../images/T9SYP2crSuG.png) !important;background-repeat:no-repeat !important;background-position:right -195px !important;border-top-left-radius:0;margin-right:0;padding-right:24px !important}
.fbPhotoSnowlift .inlineEditMode .fbPhotoSnowliftAuthorInfo,.fbPhotoSnowlift .inlineEditMode .fbPhotoPagesTagList,.fbPhotoSnowlift .inlineEditMode .fbPhotoLegacyTagList,.fbPhotoSnowlift .inlineEditMode .fbPhotosPhotoOwnerButtons,.fbPhotoSnowlift .inlineEditMode .fbPhotosOnProfile{display:none}
#fbPhotoSnowliftAuthorPic{margin-right:10px}
.fbPhotoSnowlift .uiStreamSecondaryTime{margin-right:5px}
.fbPhotoSnowlift .fbPhotosImplicitLocLink,.fbPhotoSnowlift .fbPhotosAppLink{color:gray}
.fbPhotoSnowlift .fbPhotoSnowliftControls{padding:7px 15px 0;text-align:right}
.fbPhotoSnowlift .fbPhotosPhotoActions{border-top:0;vertical-align:top}
.photoActionSelector a.fbPhotoSnowliftDropdownButton,.photoActionSelector a.fbPhotoSnowliftDropdownButton:active,.photoActionSelector a.fbPhotoSnowliftDropdownButton:focus,.photoActionSelector a.fbPhotoSnowliftDropdownButton:hover{background-color:#fff;border:1px solid #fff;-moz-box-shadow:none;height:16px;margin:-2px 0 0;padding:0;width:26px}
.photoActionSelector a.fbPhotoSnowliftDropdownButton{background-image:url(../images/mEI5GYmoEpv.png) !important;background-repeat:no-repeat !important;background-position:-812px -9px !important}
.photoActionSelector .openToggler a.fbPhotoSnowliftDropdownButton{background-image:url(../images/mEI5GYmoEpv.png) !important;background-repeat:no-repeat !important;background-position:-785px -9px !important}
.fbPhotoSnowlift .closeTheater{background-image:url(../images/5mVzLkjp2mT.png);background-repeat:no-repeat;background-position:0 -34px;display:inline-block;height:12px;margin-left:5px;vertical-align:top;width:11px}
#fbPhotoSnowliftOnProfile{padding-top:0}
.fbPhotoSnowlift .fbPhotoInlineEditor{padding:0 20px 10px}
.fbPhotoSnowlift .fbPhotoInlineEditor .tagsTokenizer{border-bottom-style:solid;width:auto}
.fbPhotoSnowlift .fbPhotoInlineEditor .buttons,.fbPhotoSnowlift .fbPhotoInlineEditor .fbPhotoCaptionInput,.fbPhotoSnowlift .fbPhotoInlineEditor .fbPhotoPlaceInput{width:100%}
.fbPhotoSnowlift .fbPhotoInlineEditor .uiMentionsInput{max-height:100px;overflow-x:hidden;overflow-y:auto}
.fbPhotoSnowlift .fbPhotoInlineEditor .uiMentionsInput textarea{-moz-box-sizing:border-box;min-height:50px}
.fbPhotoSnowlift .fbPhotoInlineEditor .fbPhotoPlaceInput,.fbPhotoSnowliftBackdate{margin:10px 0}
.fbPhotoSnowlift #inlineEditorSave{margin-bottom:3px}
.fbPhotoSnowliftEditAudience{display:inline-block;margin-right:10px}
.fbPhotoSnowliftAuthorInfo .uiImageBlockSmallImage{margin-right:10px}
.fbPhotoSnowlift .rhcBody{position:relative;z-index:1}
.fbPhotoSnowlift .rhcScroller{width:100% !important}
.fbPhotoSnowlift.dataLoading .rhcScroller{visibility:hidden}
.fbPhotoSnowlift .rhcScroller.contentBefore::before{border-top:1px solid rgba(0, 0, 0, .1)}
.fbPhotoSnowlift .rhcScroller .uiScrollableAreaContent{padding:0 20px 0}
.fbPhotoSnowlift .fbPhotosSnowliftUfi{width:auto}
.fbPhotoSnowlift .pinnedUfi .fbPhotosSnowliftUfi .uiUfiAddComment{padding-left:25px;padding-right:20px}
.fbPhotoSnowlift .pinnedUfi .fbPhotosSnowliftUfi{margin-bottom:-1px}
.fbPhotoSnowlift .fbPhotosSnowliftUfi .ufiNub{margin-bottom:0}
.fbPhotoSnowlift .fbPhotosSnowliftUfi .ufiItem{margin-bottom:1px;margin-top:0}
.fbPhotosSnowliftFeedback{margin-top:8px}
.fbPhotosSnowliftFeedbackForm{position:relative}
.fbPhotosSnowboxFeedbackInput{bottom:0;margin:0 20px;position:absolute;z-index:1}
.pinnedUfi .fbPhotosSnowboxFeedbackInput{margin-left:0;margin-right:0}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi{padding-top:0}
.pinnedUfi .fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi{padding-top:1px}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi .ufiItem{border-bottom:0;margin-bottom:0}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi .uiMentionsInput{max-height:100px;overflow-x:hidden;overflow-y:auto}
.fbPhotosSnowboxFeedbackInput .fbPhotosSnowliftUfi .uiMentionsInput textarea{-moz-box-sizing:border-box}
.fbPhotoSnowlift.fbxPhoto .fbPhotoRemoveFromProfile{border-top:0;border-bottom:0;padding:0}
#fbPhotoSnowliftAdsSide{bottom:0;position:absolute;width:100%}
#fbPhotoSnowliftAdsSide.loading,.dataLoading #fbPhotoSnowliftAdsSide{visibility:hidden}
.fbPhotoSnowlift .rhc .coverRhcClick{bottom:0;position:absolute;top:0;width:100%;z-index:2}
#fbPhotoSnowliftAdsSide .uiSideHeader{background:none;border-bottom:1px solid #e2e2e2;border-top:none;color:gray;font-weight:normal;padding-left:0}
#fbPhotoSnowliftAdsSide .uiSideHeader em{color:gray;font-weight:normal}
#fbPhotoSnowliftAdsSide .uiHeaderActions{display:none}
.fbPhotoSnowlift .ego_column{width:auto}
.fbPhotoSnowlift .ego_column > .wrapper > .inner{margin-top:-10px;padding:0 20px 10px}
.fbPhotoSnowlift .ego_column > .wrapper:first-child > .inner{margin-top:0;padding-top:15px}
#fbPhotoSnowliftAdsSide .wrapper.hidden{overflow:hidden;position:relative;visibility:hidden}
#fbPhotoSnowliftAdsSide .wrapper.hidden > .inner{overflow:hidden;position:absolute;width:100%}
.fbPhotoSnowlift .ego_section,.fbPhotoSnowlift .ego_unit{margin:0}
.fbPhotoSnowlift .ego_unit{padding-bottom:8px}
.fbPhotoSnowliftAds .fbPhotoSnowliftAdsSponsored{float:right;text-align:right;width:95%}
#fbPhotoSnowliftCaption,#fbPhotoSnowliftTagList,#fbPhotoSnowliftCaption .text_exposed_link{font-size: 14px;line-height:18px}
.fbPhotoSnowlift.fbxPhoto .fbPhotoContributorName{font-size: 14px;line-height:18px}
#fbPhotoUndoSpamReport div{background-color:#ffebe5;margin:1px 0;padding:5px}
.fbPhotosSnowliftAudienceSelector a.uiSelectorButton{background-image:url(../images/T9SYP2crSuG.png);background-repeat:no-repeat;background-position:right -248px;background:none;padding:2px 24px 1px 6px !important}
.fbPhotosSnowliftAudienceSelector a.uiSelectorButton:active,.fbPhotosSnowliftAudienceSelector a.uiSelectorButton:focus,.fbPhotosSnowliftAudienceSelector a.uiSelectorButton:hover,.fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton,.fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton:active,.fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton:focus,.fbPhotosSnowliftAudienceSelector .openToggler a.uiSelectorButton:hover{background-image:url(../images/T9SYP2crSuG.png);background-repeat:no-repeat;background-position:right -2px;border:1px solid #999}
#fbPhotoSnowliftAudienceSelector{display:inline-block;margin-bottom:-4px;margin-left:0;margin-top:-1px;vertical-align:top}
.fbPhotoSnowlift .fbPhotoRemoveFromProfileLink .img{display:none}
.fbPhotoSnowliftVideoActions{font-size: 12px}
.video_embed_dialog{z-index:401}

#bootloader_ht6Sh { height: 42px; }
.uiAddPhoto {float:right;position:absolute;top:312px;top:302px\9;left:600px;}