/*1320708195,176820666*/

.sp_9dewam{background-image:url(../images/X6Vt9PtofgU.png);background-repeat:no-repeat;display:inline-block;height:16px;width:31px}
.sx_83050b{width:32px;height:32px;background-position:-0px -0px}
.sx_ce0533{background-position:-0px -33px}
.sx_48249a{background-position:-0px -50px}

#bootloader_OvN0F { height: 42px; }
.uiPagerTopBorder {
border-top:1px solid #EEEEEE;
padding:15px 0 0;
}
.profilePictureNuxHighlightLink {
display:block;
}
.profilePictureNuxHighlight {
background-color:#ECEFF5;
border:1px solid #C5CDE1;
}
.fbPageEdit .profilePictureNuxHighlight {
border-right-width:0;
}
.uiDatepicker .prevMonth, .uiDatepicker .nextMonth, .uiDatepicker .dateBox .textField, .uiDatepicker .dayCell {
cursor:pointer;
}
.uiDatepicker .dateBox .textField {
background:#FFFFFF url(../images/saFg5U_7LMd.png) no-repeat scroll right 50%;
border:0 none;
color:#3B5998;
width:95px;
}
.uiDatepicker .dateBox {
border:1px solid #BDC7D8;
float:left;
padding-right:4px;
}
.uiDatepicker {
position:relative;
}
.uiDatepicker .calendarWrapper {
display:none;
left:0;
position:absolute;
top:25px;
z-index:4;
}
.detailedsearch_feature_header {
background-color:#E9E9E9;
border:0 none;
height:7px;
margin-bottom:10px;
padding:0;
text-align:center;
}
.detailedsearch_feature_header span {
background-color:#FFFFFF;
color:gray;
font-weight:bold;
padding:0 5px;
position:relative;
top:-4px;
}
.searchArea {
	padding-top:2px;
	background-color:#F2F2F2;
}
.head td{
	text-align: center;
	height: 50px;
}

.head .left{
	width: 280px;
}
.head .image{
	width: 450px;
}
.slideImage{
	width:250px;
	height:250px;
	padding-left:100px;
	overflow:hidden;
}
.updateButton {
	padding-left:50px;
}
.searchBody {
	height:250px;
}
.searchArea label{
	color: #333333;
	font-weight: normal;
}
.uiScaledImageContainer img {
height:100%;
min-height:100%;
position:relative;
}
.uiScaledImageContainer {
overflow:hidden;
position:relative;
}
.DOMControl_placeholder {
color:#777777;
}
.requesttext {
width:200px;
}

.sp_9bp6bo {
background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yP/r/1VzOGqFg-DH.png);
background-repeat:no-repeat;
display:inline-block;
height:16px;
width:16px;
}
.sx_35b899 {
background-position:-11px -221px;
height:14px;
width:11px;
}
.event_upload_image {
width:179px;
}
.event_upload_image {
width:179px;
}

.grayArea {
border-top:1px solid #B3B3B3;
min-height:253px;
}
.eventInviteLayout .fullWidth {
width:85%;
}
.profileBrowserDialog .fbProfileBrowserResult {
height:353px;
overflow-y:auto;
position:relative;
}
.profileBrowserDialog .filterBox {
border-bottom:1px solid #CCCCCC;
border-top:medium none;
}
.profileBrowserDialog .fbProfileBrowserListContainer li:first-child {
border-top:medium none;
}
.profileBrowserDialog .listView {
height:353px;
}
.threeColumns .multiColumnCheckable {
width:173px;
}
.multiColumnCheckable {
float:left;
margin:5px 0 0 5px;
overflow:hidden;
width:262px;
}
.selectedCheckable, .selectedCheckable .anchor:hover {
background:#E3E7F1 none repeat scroll 0 0;
}
.multiColumnCheckable.selectedCheckable .anchor {
background-color:#D8DFEA;
border-color:#C3CCE1;
}
.threeColumns .multiColumnCheckable .anchor {
padding:2px;
}
.multiColumnCheckable .anchor {
border-color:#FFFFFF;
border-style:solid;
border-width:1px 0;
display:block;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding:6px;
}
a {
color:#3B5998;
cursor:pointer;
outline-style:none;
text-decoration:none;
}
.multiColumnCheckable .anchor {
border-style:solid;
}
.threeColumns .multiColumnCheckable .photo {
height:30px;
margin-right:5px;
width:30px;
}
.UIImageBlock_Image {
float:left;
margin-right:5px;
}
img {
border:0 none;
}
.threeColumns .multiColumnCheckable .checkbox {
margin:12px 6px 0;
}
.multiColumnCheckable .checkbox {
float:left;
margin:23px 8px 0 6px;
}
.multiColumnCheckable.selectedCheckable .anchor {
background-color:#D8DFEA;
border-color:#C3CCE1;
}
.threeColumns .multiColumnCheckable .content {
height:29px;
}