.sp_d1pr3k {
	BACKGROUND-IMAGE: url(../images/BnPSKe15dwt.png); WIDTH: 12px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.sx_30d000 {
	WIDTH: 5px; BACKGROUND-POSITION: -28px -83px; HEIGHT: 14px
}
.selected .sx_30d000 {
	BACKGROUND-POSITION: -23px -83px
}
.sx_9fc81a {
	WIDTH: 16px; BACKGROUND-POSITION: 0px -119px; HEIGHT: 16px
}
.sx_da0380 {
	BACKGROUND-POSITION: 0px -136px
}
.sx_bc6d5b {
	BACKGROUND-POSITION: -13px -136px
}
.sx_080338 {
	BACKGROUND-POSITION: -26px -136px
}
.sx_130034 {
	WIDTH: 28px; BACKGROUND-POSITION: 0px -50px; HEIGHT: 32px
}
.sx_6fab4c {
	WIDTH: 22px; BACKGROUND-POSITION: 0px -83px; HEIGHT: 22px
}
.sx_3d1007 {
	BACKGROUND-POSITION: 0px -149px
}
.sx_3dbf41 {
	WIDTH: 31px; BACKGROUND-POSITION: 0px -17px; HEIGHT: 32px
}
.sx_82ce58 {
	WIDTH: 9px; BACKGROUND-POSITION: -9px -106px
}
.selected .sx_82ce58 {
	BACKGROUND-POSITION: 0px -106px
}
.sx_4416c7 {
	WIDTH: 9px; BACKGROUND-POSITION: -28px -106px
}
.selected .sx_4416c7 {
	BACKGROUND-POSITION: -19px -106px
}
.sx_030ce0 {
	WIDTH: 19px; BACKGROUND-POSITION: -19px 0px; HEIGHT: 16px
}
.selected .sx_030ce0 {
	BACKGROUND-POSITION: 0px 0px
}
.sx_18fadf {
	WIDTH: 8px; BACKGROUND-POSITION: -25px -119px
}
.selected .sx_18fadf {
	BACKGROUND-POSITION: -17px -119px
}
#bootloader_AZR8w {
	HEIGHT: 42px
}
