/*1320708195,176820666*/

.sp_9dewam{background-image:url(../images/X6Vt9PtofgU.png);background-repeat:no-repeat;display:inline-block;height:16px;width:31px}
.sx_83050b{width:32px;height:32px;background-position:-0px -0px}
.sx_ce0533{background-position:-0px -33px}
.sx_48249a{background-position:-0px -50px}

#bootloader_OvN0F { height: 42px; }
.uiPagerTopBorder {
border-top:1px solid #EEEEEE;
padding:15px 0 0;
}