/*1320708195,176820666*/

.sp_9dewam{background-image:url(../images/X6Vt9PtofgU.png);background-repeat:no-repeat;display:inline-block;height:16px;width:31px}
.sx_83050b{width:32px;height:32px;background-position:-0px -0px}
.sx_ce0533{background-position:-0px -33px}
.sx_48249a{background-position:-0px -50px}

#bootloader_OvN0F { height: 42px; }
.uiPagerTopBorder {
border-top:1px solid #EEEEEE;
padding:15px 0 0;
}
.profilePictureNuxHighlightLink {
display:block;
}
.profilePictureNuxHighlight {
background-color:#ECEFF5;
border:1px solid #C5CDE1;
}
.fbPageEdit .profilePictureNuxHighlight {
border-right-width:0;
}
.uiDatepicker .prevMonth, .uiDatepicker .nextMonth, .uiDatepicker .dateBox .textField, .uiDatepicker .dayCell {
cursor:pointer;
}
.uiDatepicker .dateBox .textField {
background:#FFFFFF url(http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/saFg5U_7LMd.png) no-repeat scroll right 50%;
border:0 none;
color:#3B5998;
width:95px;
}
.uiDatepicker .dateBox {
border:1px solid #BDC7D8;
float:left;
padding-right:4px;
}
.uiDatepicker {
position:relative;
}
.uiDatepicker .calendarWrapper {
display:none;
left:0;
position:absolute;
top:25px;
z-index:4;
}
.detailedsearch_feature_header {
background-color:#E9E9E9;
border:0 none;
height:7px;
margin-bottom:10px;
padding:0;
text-align:center;
}
.detailedsearch_feature_header span {
background-color:#FFFFFF;
color:gray;
font-weight:bold;
padding:0 5px;
position:relative;
top:-4px;
}
.searchArea {
	padding-top:2px;
	background-color:#F2F2F2;
}
.head td{
	text-align: center;
	height: 50px;
}

.head .left{
	width: 280px;
}
.head .image{
	width: 450px;
}
.slideImage{
	width:250px;
	height:250px;
	padding-left:100px;
	overflow:hidden;
}
.updateButton {
	padding-left:50px;
}
.searchBody {
	height:250px;
}
.searchArea label{
	color: #333333;
	font-weight: normal;
}
.uiScaledImageContainer img {
height:100%;
min-height:100%;
position:relative;
}
.uiScaledImageContainer {
overflow:hidden;
position:relative;
}
#reg_form_box .editor {
margin:0 0 7px;
}
#reg_box #reg div.large_form td.label {
font-size:14px;
padding-right:3px;
width:105px;
}
#reg_box .label {
color:#1D2A5B;
padding-right:3px;
text-align:right;
width:90px;
}
#reg_box div.large_form div.field_container input {
font-size:17px;
padding:6px;
width:250px;
}
.DOMControl_placeholder {
color:#777777;
}
#reg_box div.large_form td.label {
font-size:14px;
padding-right:3px;
width:105px;
}