<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean name="profileFacade" class="com.zy.facade.impl.ProfileFacadeImpl"  >
		<property name="profileService" ref="profileService"/>
	</bean>
	
	<bean name="snsFacade" class="com.zy.facade.impl.SNSFacadeImpl"  >
		<property name="profileService" ref="profileService"/>
		<property name="snsService" ref="snsService"/>
	</bean>
	
	<bean name="requestFacade" class="com.zy.facade.impl.RequestFacadeImpl"  >
		<property name="requestService" ref="requestService"/>
		<property name="snsFacade" ref="snsFacade"/>
	</bean>
	
	<bean name="notifyFacade" class="com.zy.facade.impl.NotifyFacadeImpl"  >
		<property name="notificationService" ref="notificationService"/>
	</bean>
	
	<bean name="feedFacade" class="com.zy.facade.impl.FeedFacadeImpl"  >
		<property name="profileService" ref="profileService"/>
		<property name="feedService" ref="feedService"/>
		<property name="eventService" ref="eventService"/>
	</bean>
	
	<bean name="messageFacade" class="com.zy.facade.impl.MessageFacadeImpl"  >
		<property name="messageService" ref="messageService"/>
	</bean>
	
	<bean name="eventFacade" class="com.zy.facade.impl.EventFacadeImpl"  >
		<property name="eventService" ref="eventService"/>
		<property name="profileService" ref="profileService"/>
	</bean>
	
	<bean name="locationFacade" class="com.zy.facade.impl.LocationFacadeImpl"  >
		<property name="cityService" ref="cityService"/>
	</bean>
</beans>