<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="profileDao" class="com.zy.domain.profile.dao.ProfileDaoImpl" parent="baseDao" />


<bean id="friendDao" class="com.zy.domain.sns.dao.FriendDaoImpl" parent="baseDao" />
<bean id="snsGroupDao" class="com.zy.domain.sns.dao.SNSGroupDaoImpl" parent="baseDao" />
<bean id="zyFollowDao" class="com.zy.domain.sns.dao.FollowDaoImpl" parent="baseDao" />
<bean id="zyIntroduceDao" class="com.zy.domain.sns.dao.SNSIntroduceDaoImpl" parent="baseDao" />
<bean id="inviteByAddressDao" class="com.zy.domain.sns.dao.InviteByAddressDaoImpl" parent="baseDao" />

</beans>