<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	<bean name="profileService" class="com.zy.domain.profile.service.ProfileServiceImpl">
		<property name="profileDao" ref="profileDao"/>
	</bean>
	
	<bean name="snsService" class="com.zy.domain.sns.service.SNSServiceImpl">
		<property name="friendDao" ref="friendDao"/>
		<property name="snsGroupDao" ref="snsGroupDao"/>
		<property name="zyFollowDao" ref="zyFollowDao"/>
		<property name="zyIntroduceDao" ref="zyIntroduceDao"/>
		<property name="inviteByAddressDao" ref="inviteByAddressDao"/>
		<property name="profileService" ref="profileService"/>
	</bean>
	
	<bean name="requestService" class="com.zy.domain.message.service.RequestServiceImpl">
		<property name="requestDao" ref="requestDao"/>
		<property name="requestTypeDao" ref="requestTypeDao"/>
		<property name="profileService" ref="profileService"/>
	</bean>
	
	<bean name="notificationService" class="com.zy.domain.message.service.NotificationServiceImpl">
		<property name="notificationDao" ref="notificationDao"/>
		<property name="notificationTypeDao" ref="notificationTypeDao"/>
		<property name="profileService" ref="profileService"/>
	</bean>
	
	<bean name="eventService" class="com.zy.domain.event.service.EventServiceImpl">
		<property name="eventDao" ref="eventDao"/>
		<property name="eventInviteDao" ref="eventInviteDao"/>
		<property name="eventMemberDao" ref="eventMemberDao"/>
	</bean>
	
	<bean name="feedService" class="com.zy.domain.feed.service.FeedServiceImpl">
		<property name="newsFeedDao" ref="feedDao"/>
		<property name="newsFeedTypeDao" ref="feedTypeDao"/>
		<property name="newsFeedCommentDao" ref="feedCommentDao"/>
	</bean>
	
	<bean name="messageService" class="com.zy.domain.message.service.MessageServiceImpl">
		<property name="messageDao" ref="messageDao"/>
		<property name="profileService" ref="profileService"/>
	</bean>
	
	<bean name="luceneIndexService" class="com.zy.domain.search.service.LuceneIndexServiceImpl">
		<property name="indexDao" ref="indexDao"/>
		<property name="indexLogDao" ref="indexLogDao"/>
	</bean>
	
	<bean name="searchService" class="com.zy.domain.search.service.SearchServiceImpl">
		<property name="indexLogDao" ref="indexLogDao"/>
	</bean>
	

	<bean name="cityService" class="com.zy.domain.option.service.CityServiceImpl">
		<property name="cityDao" ref="cityDao"/>
	</bean>
	
	<bean name="photoService" class="com.zy.domain.photo.service.PhotoServiceImpl">
		<property name="photoDao" ref="photoDao"/>
		<property name="albumDao" ref="albumDao"/>
	</bean>
</beans>