#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 400px;
  padding:30px 15px 5px 15px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  border:5px white solid; 
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
  filter:alpha(opacity=30);
  zoom:1;
  background:#fff;
}
#facebox .close:hover img{
  opacity:1.0;
  filter:alpha(opacity=100);
  zoom:1;
  background:#fff;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/* Form */
#facebox {font-size:110%}
#facebox .form-2 {text-align:left; }
#facebox .form-2 li input[type=text],
#facebox .form-2 li input[type=password],
#facebox .form-2 li textarea {width:280px;}
#facebox .form-2-ml span {float:left; margin:0 21px 0 0;}
#facebox .form-2-ml .btn-common, 
#facebox .form-2-ml .btn-arrow  {float:right; margin-right:10px;}
#facebox .mod-common {margin-bottom:20px;}
#facebox .intro {margin-bottom:10px;}

/* IE */
#facebox #receivereq0 {display:block; width:100%; margin-top:10px; text-align:right; clear:both;}